 <li [ngClass]="{'list-group-item': true,
 'list-group-item-success': loveIts > 0,
 'list-group-item-danger': loveIts < 0}">
   <div class="row">
   <h2 class="col-md-4">{{title}}</h2>
   <i id="date" class="col-md-4 col-md-offset-4">{{createdAt | date: 'short'}}</i>
  </div>
   <p>{{content}}</p>
   <div class="btn-group" role="group">
    <button type="button" class="btn btn-success" (click)="onAddLoveIts(index)">Love it!</button>
    <button type="button" class="btn btn-danger" (click)="onSubstractLoveIts(index)">Dont' Love it!</button>
  </div>
  <button class="btn btn-danger" (click)="onDeletePost(index)">Delete</button>
</li>
